@import "compass"

$link-color:         #0388a6
$link-hover-color:   #009ce0
$link-focus-color:   false
$link-active-color:  false
$link-visited-color: false

$font-color:  #2a2a2a
$font-family: sans-serif

$body-width: 25em


@include global-reset

body
    font-family: $font-family
    color: $font-color
    width: $body-width
    margin:
        left: auto
        right: auto
        top: 60px

a
    @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)
p 
    margin-top: 2.5ex
li 
    margin-top: 1.1ex
    margin-left: 1em
code
    font-family: monospace