!!!
%html{:lang=>"en"}
    %head
        %title #{@title||""}
        -# #{google_analytics('UA-24659622-1')}
        %link{:rel=>'stylesheet', :href=>'/stylesheets/site.css', :type => "text/css"}
        
    %body
        = yield
        / %script{:type => "text/javascript", :src=>'/javascripts/d3.js'}
