!!!
%html{:lang=>"en"}
    %head
        %title #{(@title||data.page.title)||""}
        %link{:rel=>'stylesheet', :href=>'/stylesheets/site.css', :type => "text/css"}
        
    %body
        = yield
        #{google_analytics('UA-26495302-1')}